header
  .navigation
    a(href='/')
      p.header__logo Library &#x1F4DA;
    .admin__txt Admin panel
    nav.navigation__nav
      ul.navigation__list
            li.navigation__item
                a.navigation__link(href='/') Book request
            li.navigation__item
                a.navigation__link(href='/uploadBook') Add books
            
