
extends base
block content
  .heading__box
    h1.heading__primary Reading book is boring only if you lack imagination
    a.btn.heading__btn(href='/mybook.html') Browse
  section.card__section
    h2.heading__secondary Books
    .cards
      .card
        .new__tag New
        img.card_img(src='/img/book/book1.png' alt='')
        a.btn.card__btn(href='/books.html') Reserve
      .card
        img.card_img(src='/img/book/book2.png' alt='')
        a.btn.card__btn(href='#') Reserve
      .card
        img.card_img(src='/img/book/book3.png' alt='')
        a.btn.card__btn(href='#') Reserve
      .card
        img.card_img(src='/img/book/book4.png' alt='')
        a.btn.card__btn(href='#') Reserve
      .card
        img.card_img(src='/img/book/book5.png' alt='')
        a.btn.card__btn(href='#') Reserve
      .card
        img.card_img(src='/img/book/book6.png' alt='')
        a.btn.card__btn(href='#') Reserve

