
extends base
block content
  .heading__box
    h1.heading__primary Reading book is boring only if you lack imagination
    a.btn.heading__btn(href='/mybook.html') Browse
  section.card__section
    h2.heading__secondary Books
    .cards
      -const notEmpty = books.length ? true : false;
      if !notEmpty
        .loader
      each book in books
        .card
          .img__container
            img.card_img(src=`/img/book/${book.photo}` alt='')
            if book.new
              .new__tag New
          a.btn.card__btn(href='/books.html') Reserve
    .page
      -const current = currentPage * 1;
      if current > 1
        a(href=`/?page=${current -1}` class='previous page__btn') &lsaquo;
      else if current < pagesCount
        a(href=`/?page=${current+1}` class='next page__btn') &rsaquo;

