extends base
block content 
    form.login.signup
        .signup-div
            .name-container
            p Name
            input#signup__name(type='text' placeholder='Enter Name' required='')
            .email-container
            p Email
            input#signup__email(type='email' placeholder='Enter Email' required='')
            .psw-container
            p Password
            input#signup__password(type='password' placeholder='Enter Password' required='')
            button#signup_btn Sign up

