extends base
block content 
    include _header.pug
    form.form__submit.signup
        .signup-div
            .name-container
            p Name
            input#signup__name(type='text' placeholder='Enter Name' required='')
            .email-container
            p Email
            input#signup__email(type='email' placeholder='Enter Email' required='')
            .psw-container
            p Password
            input#signup__password(type='password' minlength='8' placeholder='Enter Password' required='')
            button#signup__btn Sign up

