extends base
block content 
    form.login.signup
        .signup-div
            .name-container
            p Name
            input(type='email' placeholder='Enter Name' required='')
            .email-container
            p Email
            input(type='email' placeholder='Enter Email' required='')
            .psw-container
            p Password
            input(type='password' placeholder='Enter Password' required='')
            button Sign up

