*::after,
*::before,
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: var(--Grey-dark-3);
}

body {
  font-size: 62.5%; /* 1 rem = 10px */
  font-weight: 300;
  letter-spacing: 1.6;
  font-family: 'Lato', sans-serif;
  box-sizing: inherit;
}
:root {
  --primary: #eb2f64;
  --primary-light: #ff3366;
  --primary-dark: #ba265d;

  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;

  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;

  --backgound-color:linear-gradient(to right, var(--primary-light), var(--primary-dark));

}

/* header section css */
.header {
 background-image: linear-gradient(to right,
  rgba(255, 51, 102, 0.5),
  rgba(186, 38, 93, 0.5)
  ),
  url("../img/hero-cover.png");
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 0.5rem 1rem;

}

.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--primary);
}

.search__icon {
  fill: var(--Grey-dark-2);
}

.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: var(--Grey-light-1);
  font-size: 1.2rem;
  font-weight: bold;
 
}
.header__logo{
  color: var(--Grey-light-3);
  font-size: 1rem;
  font-weight: bold;
}

.navigation__item {
  margin: 0 1rem;
}

.form {
  display: flex;
  align-items: center;
  flex-basis: 40%;
}
.form__search {
  width: 90%;
  outline: none;
  border: none;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  margin-right: -2rem;
  transition: all 0.2s;
  color: inherit;
}
.form__search:focus {
  width: 100%;
}
.profile{
  display: flex;
  align-items: center;
}
.user__photo{
  width: 2rem;
  height: 2rem;
  object-fit: fill;
  border-radius: 1rem;
  margin-right: .3rem;
}
.heading__box{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,40%);
  min-width: 60rem;

}
.heading__primary{
  text-transform: uppercase;
  color: var(--Grey-light-1);
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .7rem;
  margin-bottom: 2rem;
  animation: moveLeftToRight 1s ease-out;
  backface-visibility: hidden;
}
.heading__btn{
  font-size: 2rem;
  transition: all .2s;
  color: var(--Grey-light-1);
  background-image: var(--backgound-color);
   animation: moveBottomTop 1s ease-out;
   padding:1rem 4.5rem;
}
.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    border-radius: 99999px;
    font-weight: 400;
}
.btn:active{
    outline: none;
}
.heading__btn:hover{
  transform: translateY(5px);

}



/* Animation */
@keyframes moveLeftToRight{
  0%{
      opacity: 0;
      transform: translateX(-10rem);
  }
  90%{
      transform: translateX(2px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@keyframes moveBottomTop{
  0%{
      opacity: 0;
      transform: translateY(10rem);
  }
  90%{
      transform: translateY(-3px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
