*::after,
*::before,
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    color: var(--Grey-dark-3);
}

body {
    font-size: 62.5%;/* 1 rem = 10px */
    font-weight: 300;
    letter-spacing: 1.6;
    font-family: 'Lato', sans-serif;
    box-sizing: inherit;
}

:root {
    --primary: #eb2f64;
    --primary-light: #ff3366;
    --primary-dark: #ba265d;
    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
    --Grey-light-3: #f0eeee;
    --Grey-light-4: #ccc;
    --Grey-dark-1: #333;
    --Grey-dark-2: #777;
    --Grey-dark-3: #999;
    --background-color: linear-gradient( to right, var(--primary-light), var(--primary-dark));
}

a{
    text-decoration: none;
}


/* header section css */

.header {
    background-image: linear-gradient( to right, rgba(255, 51, 102, 0.5), rgba(186, 38, 93, 0.5)),
     url('../img/hero-cover.png');
    height: 95vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.admin__txt{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
   
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
}

.icon {
    width: 1rem;
    height: 1rem;
    fill: var(--primary);
}

.search__icon {
    fill: var(--Grey-dark-2);
    
}
.search__icon:hover {
    cursor: pointer;
    
}

.navigation__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0 !important;
}

.navigation__link {
    text-decoration: none !important;
    color: var(--Grey-light-1) !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.header__logo {
    color: var(--Grey-light-3) !important;
    margin-bottom: 0 !important;
    font-size: 1rem;
    font-weight: bold;
}
a{
    text-decoration: none !important;

}


.navigation__item {
    margin: 0 1rem;
}

.form {
    display: flex;
    align-items: center;
    flex-basis: 40%;
}

.form__search {
    width: 90%;
    outline: none;
    border: none;
    padding: 0.5rem 0.3rem;
    border-radius: 0.5rem;
    margin-right: -2rem;
    transition: all 0.2s;
    color: inherit;
}

.form__search:focus {
    width: 100%;
}
.form__search::placeholder{
    color: #ddd;
    font-size: .8rem;
}

.profile {
    display: flex;
    align-items: center;
}

.user__photo {
    width: 2rem;
    height: 2rem;
    object-fit: fill;
    border-radius: 1rem;
    margin-right: 0.3rem;
}
.search__heading{
    margin: 2rem 0;
    font-size: 2.5rem;
}

.heading__box {
    /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60rem;
}

.heading__primary {
    text-transform: uppercase;
    color: var(--Grey-light-1);
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    margin-bottom: 2rem;
    animation: moveLeftToRight 1s ease-out;
    backface-visibility: hidden;
}

.heading__btn {
    font-size: 2rem;
    transition: all 0.2s;
    color: var(--Grey-light-1);
    background-image: var(--background-color);
    animation: moveBottomTop 1s ease-out;
    padding: 1rem 4.5rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 99999px;
    font-weight: 400;
}

.heading__btn:hover {
    transform: translateY(5px);
}

.btn-primary {
    color: var(--Grey-light-1);
    background-image: var(--background-color);
    animation: moveBottomTop 1s ease-out;
}


/* Card Section */
.card_img{
    width:15rem;
    height:22rem;
}
.new__tag{
    background-color: var(--primary);
    padding: 2px 4px;
    color: #fff;
    font-weight: 400;
    border-radius: 1px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: -1rem;
}

.card__section {
    padding: 1rem 2rem;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img__container {
    position: relative;
}

.card__btn,
.card__btn:link,
.card__btn:visited {
    margin: 7px;
    border: 2px solid var(--primary);
    background-color: #fff;
    color: var(--primary);
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    grid-gap: 2.5rem;
}

.heading__secondary {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: var(--background-color);
    -webkit-background-clip: text;
    color: transparent;
}

.page{
    display: flex;
    justify-content: flex-end;
}
.page__btn:hover {
    background-color: #ddd;
    
  }
  .page_icon{
      width: 2rem;
      height: 2rem;
  }
  .page__btn{
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin:.7rem;
 
  }
  .next_btn{
      fill: #fff;
  }
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: var(--primary);
    color: white !important;
  }

/* Sign-up style */

.form__submit {
    width: 320px;
    height: 420px;
    /* background: #000; */
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.form__submit p {
    margin: 7px;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
}

.form__submit input {
    width: 100%;
}

.form__submit input[type='email'],
#signup__name,
input[type='password'] {
    margin-top: 1rem;
    border: 1px solid;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    height: 25px;
    color: #000;
    font-size: 15px;
}

.form__submit button {
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Grey-light-1);
    background-image: var(--background-color);
    margin-top: 4rem;
    padding: 0.8rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Sign in button */
.signup-div{
    position: absolute;
    width: 350px;
    height: 400px;
    box-shadow: 1px 1px 2px 1px rgba(19, 3, 3, 0);
    background: rgba(255, 255, 255, 0.2);
    padding: 50px;
    opacity: 1;
    border-radius: 5px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

}
.signup button{
    margin-top: 40%;
}

/* my books page */

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    
}
.mybook__cards{
    grid-template-columns: repeat(4, minmax(12rem, 1fr));
}


.cards .card1 {
    background:  #f0eeee;
    padding: 1rem; 
}

.cards .card1 h3{
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.cards .card1 p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

/* books page */
.book-container{
    padding-top: 6rem;
    margin: 0 2rem;
    padding-bottom: 4.2rem;
}
.carousel-inner{
    display: flex;
    justify-content: center;
}

.carousel-item img{
    width: 50%;
    overflow: hidden;
}

.newarrival{
    background: var(--primary-light);
    border-radius: 3px;
    width: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.row{
    margin-right: 0;
}
.com-md-7 h2{
    color: var(--Grey-dark-1);
}

.genre {
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
}

.about{
    font-size: 1rem;
}

.attributes{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.no_stocks{
    background-color:#00000059  ;
    border: none ; 
    color: #fff ;
    margin: 7px;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    border-radius: 5px !important;
    font-weight: 700;
    
}
.reserve{
    border: none;
    background-color: var(--primary-light);;
    color: var(--Grey-light-1);
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
 
}

.reserve:active:hover{
    transform: translateY(2px);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    outline: none;
}
.reserve:focus{
    outline:none;
}

/* ADMIN */

.admin-header .header__logo {
    font-size: 2em;
}

.admin {
    padding: 5px;
    padding-bottom: 35em;
    margin: 2em;
    background: #d8d8d8;
}
.img_col{
display: flex;
align-items: center;
}
#dtBasicExample_wrapper{
    margin: 2rem;
}
#dtBasicExample_wrapper input{
   
    outline: none;
    border: 1px solid #ccc;
    padding: 0 0.3rem;
    border-radius: 0.5rem;
    width:20rem;
    transition: all 0.2s;
    color: inherit;
}
#dtBasicExample_filter{
    margin-bottom: 2rem;
}
#dtBasicExample_wrapper{
    color: #fff;
    font-size:1.5rem;
   
}
#dtBasicExample_filter{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .previous{
    color: var(--primary) !important;
}


.book__photo {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: fill;
    border-radius: 1rem;
    margin-right: 2rem;
}


.book {
    display: flex;
    align-items: center;
}
.book_name{
    margin-bottom: 0;
}

td .reject,
.approve {
    color: white;
    border: none;
    background: #F14343;
    padding: .5rem 1rem;
    margin: 0.3rem;
    border-radius: 5px;
}

td .reject,
.approve:focus{
    outline: none;
}
td {
    color: var(--Grey-dark-2) !important;
}

td .approve {
    background: #3686ff;
}


/* Footer */

.admin-footer {
    height: 30px;
    width: 100%;
    background-color: #999999;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.footer {
    height: 30px;
    width: 100%;
    background-color: #999999;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}
/* loader for animation */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary-light);
    border-bottom: 16px solid var(--primary-light);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: absolute;
    left: 50%;
    
}
/* alert */
.alert {
    width: 100%;
    position: fixed;
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 0rem;
    -webkit-box-shadow: 0 2rem 4rem rgb(0 0 0 / 25%);
    box-shadow: 0 2rem 4rem rgb(0 0 0 / 25%);
    animation: moveTopToBottom 1.5s linear;

}
.alert--success {
background-color: #20bf6b;
}
.alert--error {
background-color: #eb4d4b;
}
.alert--info {
background-color: #ecd02f;
}



  /* Animation */
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@keyframes moveLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-3px);
    }
    90% {
        transform: translateX(2px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveBottomTop {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    90% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    90% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Book upload */
.card_image{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    }

.card2{
    color:rgb(240, 60, 96);
    font-size: 18px;
    text-align: center; 
} 
.upload_txt:link,
.upload_txt:visited{
   transform: scale(1);
   color:var(--primary);
   font-size:1.6rem;
   transition: all 2s;
   display:inline-block;
   font-weight:700;
}
.upload_txt:hover,
.upload_txt:active{
    cursor: pointer;
    color:var(--primary);
    transform: scale(1.3);
   

}

.table-header1 {
    margin: 2em 3em 2em 3em ;
    padding: 2em;
    background: rgb(238, 85, 116);
    }

.table-header1 ul{
    color: white;
    font-size: 1.2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* align-content: space-around; */
    }

.table_book{
    margin:80px auto;
    margin-left: 100px;
    margin-right: 60px;  
}

table{
    width:100%;
    border-collapse:collapse;
}
.image{
    display: flex;
    flex-wrap: wrap;
    height:15rem;

}
.image img{
    height:100%;
}

th{
    text-align: left;
    padding:16px;
    color:#fff;
    font-size: 18px;
    background: rgb(238, 85, 116);
    font-weight: bold;
   
}
td{
    padding:10px 5px;
    font-size: 18px;
    color: #000;
    font-weight: bold;

}
tr:nth-child(even) {
    background-color:rgb(245, 235, 237) ;
}

.edit {
    background: #3686ff;
    color: white;
    font-size: 14;
    border: none;
    padding: 0.5em 1em;
    margin: 0.3em;
    border-radius: 5px !important;
}
.btn1{
    background:#eb2f64;
    color: white;
    font-size: 14;
    border: none;
    padding: 0.5em 1em;
    margin: 0.3em;
    border-radius: 5px;
}
.edit:hover {
    cursor: pointer;
    opacity: 0.8;
}
.btn1:hover {
    cursor: pointer;
    opacity: 0.8;
}





/* book upload pop up */
.pop{
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.pop__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    background-color: #fff;
    width: 75%;
    border-radius: 1rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) !important;
    transition: all 0.4s .2s;
    padding: 2rem;
    height: 90vh;
     

}
.pop:target{
    opacity: 1;
    visibility: visible;
}
.pop:target .pop__content{
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1;
}
.pop__close:link,
.pop__close:visited{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.pop__close:active,
.pop__close:hover{
    color: var(--primary)
}



.btn{
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Grey-light-1);
   
 

}
#uploadBtn,
#updateBtn{
    background-image: var(--background-color);
    margin-top: 2rem;
    padding: 0.8rem 3rem;

}

.bookForm{
    display:flex;
    flex-direction:column;

}
.bookForm label{
    font-size: 1.5rem;
    font-weight:700;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.bookForm .form-check{
    display: flex;
    align-items: center;
}

.mg-btn{
    margin-bottom: 2rem;
}

.badge-info{
    background-color: #eb2f64;
    padding: .5rem;
    font-size: 1rem;
    margin-right: 5px;
    margin-top: 3px;
}   

.bootstrap-tagsinput input{
    font-size: 1rem;
}

.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control{
    height:initial;
    padding:4px 10px ;
}

/* responsive */


@media only screen and (max-width: 37.5em) {
    .header{
        height: 75vh;
    }
    html{
        font-size: 75%;
    }
    .heading__box{
        top: 30%;
        left: 30%;
        transform: translate(-25%, -25%);
    }
   
}

@media only screen and (max-width: 62.5em) {
    .heading__primary {
        font-size:2rem
    }
    .heading__box{
        min-width: 43rem;

    }
   
}
@media screen and (max-width: 800px) {
    .admin__txt {
      font-size: 1.2rem;
    }
    .heading__primary {
        font-size:2rem
    }
    .heading__box{
        min-width: 37rem;

    }
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-gap: 3.5rem;
    }
}
@media screen and (max-width: 500px) {
    
    .heading__primary {
        font-size:1.3rem
    }
    .heading__box{
        min-width: 26rem;

    }
    
}

